/* Page styles */

h1 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: 'EB Garamond', serif;
}

body {
  margin: 0 auto;
  max-width: 800px;
}


/* Table styles */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 24px 0;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 15%
}

th, td {
  padding: 10px;
  text-align: center;
  border-left: 1px solid black;
}

th:first-child, td:first-child {
  border-left: none;
}

td.title {
  font-style: italic;
}

td.read:hover {
  background-color: lightgrey;
}

/* Form styles */

#form-wrapper {
  text-align: center;
}

.hidden {
  display: none;
}

